header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px ;
    width:100%;
}

.header{
  grid-column:2/-1;
  grid-row:1/2;
  background-color:white;
  margin-left:-20px;
}

.icons_menu{
    display:flex;
    justify-content:space-around;
    width:30%;
    align-items:center;
} 

.icon_items:hover{
  color:grey;
}

